# Python
**/.venv/
**/__pycache__/
.env
outputs/

# Node
**/node_modules/
frontend/dist/

# Datasets (keep structure, ignore contents)
datasets/*
!datasets/houses/
!datasets/trees/
!datasets/houses/.gitkeep
!datasets/trees/.gitkeep